/* FICHE PRODUIT */
.current-price span{
    color: red;
}
#product .product-prices .pricefrom{
    display:none;
}
.product-add-to-cart .add .add-to-cart{
    background-color: red;
}
.product-add-to-cart .add .add-to-cart:hover{
    background-color: #2592a9;
}
/* FIN FICHE PRODUIT */

/* liste PRODUIT */
.facet #facet_59411{
    display: none;
}
/*Fin liste PRODUIT */

/* CONTACTEZ NOUS */
#contact .contact-rich .block{
    display: none;
}
/*FIN CONTACTEZ NOUS */

/* page commande */
.bootstrap-touchspin .input-group-btn-vertical{
    width: 1% !important;
}
/* Fin page commande */

/*  page categorie */
#search_filters section:nth-child(3){
    display: none;
}
/* fin  page categorie */

/* authentication */
#authentication #customer-form .form-group:nth-child(6){
    display: none;
}
#authentication #customer-form .form-group:nth-child(7) {
    display: none;
}
#authentication #customer-form .form-group:nth-child(8) {
    display: none;
}

/* End authentication */

/* page checkout */

#checkout #checkout-guest-form .form-group:nth-child(7){
    display: none;
}
#checkout #checkout-guest-form .form-group:nth-child(8) {
    display: none;
}
#checkout #checkout-guest-form .form-group:nth-child(9) {
    display: none;
}
body#checkout #footer {
    padding: 0px !important;
    box-shadow: none;
    background-color: #282828;
}
#checkout #search_widget{
    display: block!important;
}
/*fin page checkout */

/* CSS acceuil */
/*LIVRAISON*/
div#custom-text h1{
    font-size: 37px;
    color: #00458a;
    padding-top: 160px;
}
div#livraison p{
    color: #000;
    text-align: center;
}
div#livraison div#bloc{
    background-color: #EEEEEE;
    width: 100%;
    height: 253px;
    padding: 20px;
    margin-bottom: 20px;
}
div#livraison div#bloc img{
    margin-left: 40%;
    margin-bottom: 20px;
}
div#livraison div#bloc h2{
    color: #c8242e;
    text-align: center;
}
div#livraison h1{
    font-size: 37px;
    color: #00458a;
    text-align: center;
    margin-bottom: 25px;
}
/*PLUS*/
div#plus{
    background-color: #EEEEEE;
    margin-top: 30px;
   /* margin-bottom: 50px;*/
    height: 491px;
}
div#plus h1{
    font-size: 37px;
    color: #00458a;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 25px;
}
div#plus div.container#bloc{
    padding: 30px;
}
div#plus div#bloc h2{
    text-align: center;
    padding-top: 20px;
}
div#plus div#bloc img{
    width: 100%;
}
div#plus div#bloc p{
    color: black;
    text-align: justify;
}
div#plus div#bloc span{
    float: right;
}
#plus .savoir{
    padding-left: 3%;
    padding-right: 3%;
}
#plus .savoir .col-md-4{
    padding-left: 30px;
    padding-right: 30px;
}
#plus .savoir a{
    float: right;
    text-decoration: none;
    color: black;
}
#plus-md{
    padding-left: 3% !important;
    padding-right: 3% !important;
}

/*BLOC CONTACT*/

section#bloc-contact span#number{
    color: green;
    font-weight: bold;
}
section#bloc-contact p{
    color: black;
}
section#bloc-contact input#prenom, input#number{
    margin-top: -15px;
    margin-bottom: 17px;
}
section#bloc-contact h3{
    font-size: 37px;
    color: #00458a;
    text-align: center;
    padding-bottom: 30px;
   /* padding-top: 20px;
    margin-bottom: 25px;*/

}
input#envoyer{
    color: #fff;
    background-color: #00458a;
    border-color: transparent;
    margin-right: 52%;
}
section#bloc-contact textarea#bloc-message{
    margin-left: 15px;
    width: 96%;
}
section#bloc-contact select.form-control-select{
    display: none;
}
section#bloc-contact input.user{
    padding-left: 35px;
}
section#bloc-contact i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 2px 26px;
    color: #00458a;
}
section#bloc-contact i#prenom, i#number{
    top: -7px!important;
}
/**/
h2.products-section-title{
    font-size: 37px;
    color: #00458a;
}
/*@media (min-width:1200px) {
    .row#plus-md {
        margin-left: 100px;
    }
}*/
@media (min-width: 768px){
    .col-md-4#bloc {
        float: left;
        /*width: 302px;*/
    }
}
/* easyslide */
#index #content .easycarousels {
    margin: 30px 0 80px !important;
}
#subcategories_4 .title_block.carousel_title {
    font-size: 37px;
    color: #00458a;
    text-align: center;
    margin-bottom: 25px;
}
/* bloc produit */
.pl-details a{
    color: white;
    text-decoration: none;
}
/* fin bloc produit */

/* page cms */
#cms h1{
    text-align: center;
}
/* fin page cms */

/* REPONSIVE VERSION TABLETTE*/
@media screen and (min-width:578px) and (max-width:768px)
{
    span.rouge {
    margin-left: -258px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px){
    #ban .bot span.rouge{
        left: 500px !important;
    }
}
@media screen and (max-width:1024px) and (min-width:993px){
    #header .header-top #search_widget img{
        position: absolute;
        right: 88px;
        width: 35px;
        top: 34px;
    }
    #header #_desktop_user_info i{
        right: 123px;
    }
    #ban .bot span.blue{
        top: 330px;
        left: 180px;
    }
    #ban .bot span.rouge{
        top: 330px;
        left: 180px;
    }
    /*#ban .intban{
        height: 467px;
    }*/
    div#livraison div#bloc{
        height: 310px;
    }
}
/* FIN REPONSIVE VERSION TABLETTE*/

/* REPONSIVE VERSION MOBILE*/
@media screen and (max-width:767px) and (min-width:640px){
    #header .header-top #search_widget img{
        position: absolute;
        right: 83px;
        width: 35px;
        top: 34px;
    }
    #header .header-top {
        height: 150px;
    }
    #header #_desktop_cart span.cart-products-count {
        right: 146px;
        
    }
    #header #_desktop_cart .header i{
        right: 172px;
    }
}
@media screen and (max-width:639px) and (min-width:360px){
    #header #_desktop_user_info i{
        right: 119px;
    }
    #header .header-top #search_widget img{
        position: absolute;
        right: 83px;
        width: 35px;
        top: 34px;
    }
    #ban .bot span.blue{
        left: -91px !important;
        top: 121px !important;
        width: 100px !important;
        font-size: 8px !important;
        padding: 10px !important;
        position:relative !important;
    }
    #ban .bot span.rouge{
        left: 96px !important;
        top: 90px !important;
        width: 100px;
        font-size: 8px !important;
        padding: 10px !important;
        position:relative !important
    }  
    /*#ban .intban{
        height: 165px !important;
    }*/
    .apropos p{
        font-size: 11.5px;
    }
    div#plus{
        height: auto!important;
    }
    div#livraison div#bloc{
        height: auto!important;
    }
    #index .contact-form section#bloc-contact input{
        margin-top: 0px;

    }
    #index .contact-form section#bloc-contact i#prenom{
        top: 8px!important;
    }  
     #index .contact-form section#bloc-contact i#number{
        top: 8px!important;
    }
    #footer .payfot{
        padding-top: 50px;
    }
    #footer .links .material-icons{
        color: white;
    }
    .footer-container .links .h3{
        display: none;
    }
    #index .contact-form{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .easycarousels .bx-wrapper .bx-controls-direction a.bx-next{
        right: -30px;
    }
    .easycarousels .bx-wrapper .bx-controls-direction a.bx-prev {
        left: -30px;
    }
    input#envoyer{
        margin-left: 47px;
    }
    section#bloc-contact textarea#bloc-message{
        width: 90%;
    }
    .g-recaptcha_contact{
        padding-left: 0px;
    }
    #plus .savoir {
        display: none;
    }
    #plus a.mobs{
        color:black;
        float: right;
    }
    #bloc{
        padding-bottom: 30px;
    }
    #index #footer #link-custom-page-qui-sommes-nous-2{
        color:black !important;
         }
    #index #footer #link-custom-page-drapeaux-1{
        color:black !important;
        }
    .footer-container .links ul>li a {
            color: #232323 !important;
        }
    .container.top-element {
            padding-right: 16px;
            padding-left: 16px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
            width: 100% !important;
            height: 163px;
    }
    .col-md-10.col-md-offset-1{
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px !important;
        float: left;
        width: 100% !important;
        margin-left: 0px !important;
      }
    /*#content h3,span{
        font-size:20px !important;
    }*/
    .page-content.page-cms.page-cms-9 video{
        width:100% !important;
    }
    #contact .contact-form {
        padding: 0px!important;
    }
    #contact .contact-form section#bloc-contact i#prenom
    {
        margin-top: 12px !important;
    }
    #contact .contact-form section#bloc-contact i#number{
        margin-top: 12px!important;
    }
    #contact .rc-anchor-logo-portrait {
        margin: 8px 0 0 5px !important;
        width: 58px;
        
    }
}
/* FIN REPONSIVE VERSION MOBILE*/

/*@media (min-width:360px) and (max-width:576px){
    section#bloc-contact i#prenom, i#number {
        top: 7px!important;
        margin-left: -12px;
    }
    .col-md-6 .fas.fa-user{
        margin-left: -12px;
    }
    .col-md-6  .fas.fa-envelope{
        margin-left: -11px;
    }
}*/