/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
 
/*header*/
#header #search_widget form input[type=text]{
    display:none;
}
#header #search_widget button{
    top: 0px;
    right: 30px;
}
#header #_desktop_user_info i {
    position: absolute;
    right: 112px;
    top: 30px;
}
#header #_desktop_user_info span{
    display:none;
}
#header #_desktop_cart span.hidden-sm-down{
    display:none;
}
#header #_desktop_cart .header i{
    position: absolute;
    right: 184px;
    top: 30px;
}
#header #_desktop_cart span.cart-products-count{
    position: absolute;
    right: 158px;
    top: 34px;
    font-size: 23px;
}
#header .material-icons{
    font-size: 36px;
}
#header #_desktop_top_menu{
    text-align: center !important;
}
/*#header #_desktop_top_menu .top-menu .sub-menu.collapse{
    top: 190px !important;
}*/
#header #_desktop_top_menu .top-menu .sub-menu.collapse{
    top: 200px !important;
}
@media screen and (min-width:1900px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 242px !important;
    }
    .menu_1{
        min-width: 500px !important;
        width: 500px!important;
        left: 20%!important;
    }
    .menu_2{
        min-width: 300px !important;
        width: 300px!important;
        left: 40%!important;
    }
}
@media screen and (max-width:1694px) and (min-width:1530px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 226px !important;
    }
}
@media screen and (max-width:1899px) and (min-width:1628px) {
    .menu_1{
        min-width: 500px !important;
        width: 500px!important;
        left: 20%!important;
    }
    .menu_2{
        min-width: 300px !important;
        width: 300px!important;
        left: 35%!important;
    }
    .menu_3{
        min-width: 300px !important;
        width: 300px!important;
        left: 40%!important;
    }
}
.g-recaptcha_contact{
    padding-left: 15px;
}
@media screen and (max-width:1530px) and (min-width:1438px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 212px !important;
    }
}
@media screen and (max-width:1335px) and (min-width:1314px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 179px !important
    }
    .menu_1{
        min-width: 500px !important;
        width: 500px!important;
        left: 0!important;
    }
    .menu_2{
        min-width: 300px !important;
        width: 300px!important;
        left: 23%!important;
    }
    .menu_3{
        min-width: 300px !important;
        width: 300px!important;
        left: 28%!important;
    }

}
@media screen and (max-width:1335px) and (min-width:1313px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 188px !important;
    }
    .menu_1{
        min-width: 500px !important;
        width: 500px!important;
        left: 0!important;
    }
    .menu_2{
        min-width: 300px !important;
        width: 300px!important;
        left: 23%!important;
    }
    .menu_3{
        min-width: 300px !important;
        width: 300px!important;
        left: 28%!important;
    }

}
@media screen and (max-width:1276px) and (min-width:1166px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 183px !important;
    }
    .menu_1{
        min-width: 500px !important;
        width: 500px!important;
        left: 0!important;
    }
    .menu_2{
        min-width: 300px !important;
        width: 300px!important;
        left: 23%!important;
    }
    .menu_3{
        min-width: 300px !important;
        width: 300px!important;
        left: 28%!important;
    }

}
@media screen and (max-width:1166px) and (min-width:1141px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 175px !important;
    }
    .menu_1{
        min-width: 500px !important;
        width: 500px!important;
        left: 0!important;
    }
    .menu_2{
        min-width: 300px !important;
        width: 300px!important;
        left: 23%!important;
    }
    .menu_3{
        min-width: 300px !important;
        width: 300px!important;
        left: 28%!important;
    }

}
@media screen and (max-width:1140px) and (min-width:1024px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 168px !important;
    }
    .menu_1{
        min-width: 500px !important;
        width: 500px!important;
        left: 0!important;
    }
    .menu_2{
        min-width: 300px !important;
        width: 300px!important;
        left: 23%!important;
    }
    .menu_3{
        min-width: 300px !important;
        width: 300px!important;
        left: 28%!important;
    }

}
@media screen and (max-width:1023px) and (min-width:922px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 157px !important;
    }
    .menu_1{
        min-width: 500px !important;
        width: 500px!important;
        left: 0!important;
    }
    .menu_2{
        min-width: 300px !important;
        width: 300px!important;
        left: 23%!important;
    }
    .menu_3{
        min-width: 300px !important;
        width: 300px!important;
        left: 28%!important;
    }

}
@media screen and (max-width:922px) and (min-width:817px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 150px !important;
    }
    .menu_1{
        min-width: 500px !important;
        width: 500px!important;
        left: 0!important;
    }
    .menu_2{
        min-width: 300px !important;
        width: 300px!important;
        left: 23%!important;
    }
    .menu_3{
        min-width: 300px !important;
        width: 300px!important;
        left: 28%!important;
    }

}
@media screen and (max-width:817px) and (min-width:768px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 142px !important;
    }
    .menu_1{
        min-width: 500px !important;
        width: 500px!important;
        left: 0!important;
    }
    .menu_2{
        min-width: 300px !important;
        width: 300px!important;
        left: 23%!important;
    }
    .menu_3{
        min-width: 300px !important;
        width: 300px!important;
        left: 28%!important;
    }

}
@media screen and (max-width:1437px) and (min-width:1365px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 200px!important;
    }
}
@media screen and (max-width:1182px) and (min-width:1438px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 185px !important;
    }
}
@media screen and (max-width:1900px) and (min-width:1694px) {
    #header #_desktop_top_menu .top-menu .sub-menu.collapse{
        top: 244px !important;
    }
}


.menu_1{
    min-width: 500px !important;
    width: 500px!important;
    left: 10%;
}
.menu_2{
    min-width: 300px !important;
    width: 300px!important;
    left: 30%;
}
.menu_3{
    min-width: 500px !important;
    width: 500px!important;
    left: 30%;
}
.menu_4{
    min-width: 300px !important;
    width: 300px!important;
    left: 55%;
}

.imageCart {
    width: 35px;
    margin-left:190px;
    position: absolute;   
}
#header .header-top a[data-depth="0"]{
    color: #232323;
}
#header .header-top .top-menu #category-7 a[data-depth="0"]{
    color: red;
}
/*fin header*/

/*footer*/ 
#footer{
    background-color: #282828;
    padding-top: 0px;
    /*font-family: Roboto;*/
}
#footer .devantfot{
    display:none;
}
#footer .footer-container{
    margin-top: 0px;
    padding-top: 25px;
}
#footer a, p, h3 {
    color: white;
}

#footer .finfoot a{
    padding: 0px 10px;
    color:white;
}
.finfoot .bord2{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
#footer .payfot img{
    width: 66px;
} 
#footer .payfot{
    padding-top: 130px;
}
#footer .sociaux-link p{
    text-align: center;
}
.sociaux-link .socimg a{
    padding: 0px 10px;
}
#footer .links{
    padding-bottom: 25px;
}
#footer .wrapper p.h3.hidden-sm-down{
    display:none;
}
#footer .block_newsletter h3{
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 0;
}
#footer .block_newsletter{
    padding-top: 60px;
}
/* fin footer*/

#plus .tail{
    width: 1140px;
    margin: auto;
}
#index .contact-form{
    width: 1140px;
    margin: auto;
    padding-top: 30px!important;
}
/* fin home page*/

/*after baniere*/
#index .apropos {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}
.apropos p{
    
    /*color:#19406B;*/
    color:#00458a;
    text-transform: uppercase;
    padding-top: 30px;
}
.apropos img{
    height: 45px;
}
.apropos .int{
    text-align: center;
}
.apropos{
    width: 1180px;
    margin: auto;
}
/* fin after baniere*/

/*baniere*/
#ban p{
    color:black;
    padding-bottom: 30px;
}
#ban .intban{
    background-image: url('http://www.md-presta.com/themes/classic/assets/img/baniere2.png');
    background-repeat: no-repeat;
    height: 614px;
    background-size: 100%;
}
#ban .bot div{
    text-align: center;
    font-weight: bold;
    font-size: 11px;
}
#ban .bot span.blue{
    background-color: white;
    color:#134582;
    padding: 10px;
    position: absolute;
    top: 420px;
    left: 265px;
    width: 170px;
}
#ban .bot span.rouge{
    background-color: #C8242E;
    color:white;
    padding: 10px;
    position: absolute;
    top: 420px;
    left: 275px;
    width: 170px;
}
@media screen and (max-width:2000px) and (min-width:1950px) {
    #ban .intban{
        height:901px;
    }
}
@media screen and (max-width:1949px) and (min-width:1901px) {
    #ban .intban{
        height: 886px;
    }
}
@media screen and (max-width:1900px) and (min-width:1850px) {
    #ban .intban{
        height: 862px;
    }
}
@media screen and (max-width:1849px) and (min-width:1801px) {
    #ban .intban{
        height: 839px;
    }
}
@media screen and (max-width:1800px) and (min-width:1750px) {
    #ban .intban{
        height: 811px;
    }
    #ban .bot span.blue{
        top: 555px;
        left: 350px;
    }
    #ban .bot span.rouge{
        top: 555px;
        left: 350px;
    }
}
@media screen and (max-width:1749px) and (min-width:1701px) {
    #ban .intban{
        height: 785px;
    }
    #ban .bot span.blue{
        top: 545px;
        left: 340px;
    }
    #ban .bot span.rouge{
        top: 545px;
        left: 340px;
    }
}
@media screen and (max-width:1700px) and (min-width:1650px) {
    #ban .intban{
        height: 765px;
    }
    #ban .bot span.blue{
        top: 515px;
        left: 330px;
    }
    #ban .bot span.rouge{
        top: 515px;
        left: 330px;
    }
}
@media screen and (max-width:1649px) and (min-width:1601px) {
    #ban .intban{
        height: 745px;
    }
    #ban .bot span.blue{
        top: 518px;
        left: 320px;
    }
    #ban .bot span.rouge{
        top: 518px;
        left: 320px;
    }
}
@media screen and (max-width:1600px) and (min-width:1550px) {
    #ban .intban{
        height: 720px;
    }
    #ban .bot span.blue{
        top: 495px;
        left: 310px;
    }
    #ban .bot span.rouge{
        top: 495px;
        left: 310px;
    }
}
@media screen and (max-width:1549px) and (min-width:1501px) {
    #ban .intban{
        height: 703px;
    }
    #ban .bot span.blue{
        top: 485px;
        left: 300px;
    }
    #ban .bot span.rouge{
        top: 485px;
        left: 300px;
    }
}
@media screen and (max-width:1500px) and (min-width:1450px) {
    #ban .intban{
        height: 683px;
    }
    #ban .bot span.blue{
        top: 475px;
        left: 290px;
    }
    #ban .bot span.rouge{
        top: 475px;
        left: 290px;
    }
}
@media screen and (max-width:1449px) and (min-width:1400px) {
    #ban .intban{
        height: 660px;
    }
    #ban .bot span.blue{
        top: 450px;
        left: 280px;
    }
    #ban .bot span.rouge{
        top: 450px;
        left: 280px;
    }
}
@media screen and (max-width:1401px) and (min-width:1350px) {
    #ban .intban{
        height: 640px;
    }
    #ban .bot span.blue{
        top: 430px;
        left: 270px;
    }
    #ban .bot span.rouge{
        top: 430px;
        left: 270px;
    }
}
/* fin baniere*/

/* bloc produit */
.thumbnail-container .add i{
    display: none;
}
.thumbnail-container .add{
    text-align: center;
    margin: 15px;
}
.thumbnail-container .add button{
    background-color: #C8242E;
    opacity: initial;
    font-size: 12px;
}
.thumbnail-container h3.product-title a{
    color:#232323;
    font-weight: bold;
}
.thumbnail-container h3.product-title{
    
    font-size: 16px;
    text-transform: uppercase;
}
/*.thumbnail-container .product-price-and-shipping{
    font-family: roboto;
}*/
.thumbnail-container .product-price-and-shipping .price{
    color:red;
}

/* fin bloc produit */
 .row{
    margin-right: 0px;
    margin-left: 0px;
}
#livraison{
    padding-left: 7%;
    padding-right: 7%;
}

#custom-text{
    background-image: url('http://www.md-presta.com/themes/classic/assets/img/Temoignage.png');
    padding-top: 0px;
}
/* bloc Slide client */
.easycarousels .bx-wrapper .bx-controls-direction a.bx-prev{
    left: -50px;
}
.easycarousels .bx-wrapper .bx-controls-direction a.bx-next{
    right: -50px;
}
/* fin bloc Slide client */

/* blog les plus de mon drapeau */
.prestablog{
    background-color: #EEEEEE;
    padding-top: 30px;
}
.prestablog h2.title{
    font-size: 37px;
    color: #00458a;
}
.prestablog .blog_desc{
    color: black;
}
.prestablog #blog_list_1-7 .block_bas h3 a{
    font-weight: 700;
    color:black;
}
.prestablog #blog_list_1-7 h3{
    text-align: center;
}
.prestablog #blog_list_1-7 h3 .date_blog-cat{
    display:none;
}
 #blog_list_1-7 .prestablog_more{
    background-color: none;
}
#blog_list_1-7 .prestablog_more .blog_link{
    float: right;
    color:black;
}
#blog_list_1-7 .prestablog_more .blog_link i{
    display:none;
}
#blog_list_1-7 .prestablog_more .comments{
    display:none;
}
#blog_list_1-7 li:hover .block_cont{
    background-color: #EEEEEE !important;
}
#blog_list_1-7 .block_cont{
    background-color: #EEEEEE !important;
    border: none;
}

/* fin blog les plus de mon drapeau */

/* bootstrap 4 copy */
.text-center {
    text-align: center !important;
}

/* REPONSIVE VERSION MOBILE*/

@media screen and (max-width:767px) and (min-width:640px){
    #ban .bot span.rouge {
        left: 100px;
        top: 200px;
    }
    #ban .bot span.blue{
        left: 100px;
        top: 200px;
    }
    #ban .intban {
        height: 293px;
    }
    #header #_desktop_logo.hidden-sm-down{
        display:block !important;
    }
    #plus .savoir {
        display: none;
    }
    #plus a.mobs{
        color:black;
        float: right;
    }
    div#plus{
        height: auto!important;
    }
    #index .contact-form section#bloc-contact i#prenom{
        top: 8px!important;
    }
    #index .contact-form section#bloc-contact i#number{
        top: 8px!important;
    }
    #footer .links .material-icons{
        color: white;
    }
    #footer .payfot{
        padding-top: 50px;
    }
    #index .contact-form section#bloc-contact input{
        margin-top: 0px;

    }
    #bloc{
        padding-bottom: 30px;
    }
}
@media screen and (max-width:639px) and (min-width:360px){
    #ban .bot span.blue{
        left: 43px;
        top: 114px;
        width: 100px;
        font-size: 10px;
        padding: 0px;
    }
    #ban .bot span.rouge{
        left: 46px;
        top: 96px;
        width: 100px;
        font-size: 8px;
        padding: 0px;
    }
    #ban .intban{
        height: 165px;
    }
    .apropos p{
        font-size: 11.5px;
    }
    div#plus{
        height: auto!important;
    }
    div#livraison div#bloc{
        height: auto!important;
    }
    #index .contact-form section#bloc-contact input{
        margin-top: 0px;

    }
    #index .contact-form section#bloc-contact i#prenom{
        top: 8px!important;
    }
    #index .contact-form section#bloc-contact i#number{
        top: 8px!important;
    }
    #footer .payfot{
        padding-top: 50px;
    }
    
    #footer .links .material-icons{
        color: white;
    }
    .footer-container .links .h3{
        display: none;
    }
    #index .contact-form{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .easycarousels .bx-wrapper .bx-controls-direction a.bx-next{
        right: -30px;
    }
    .easycarousels .bx-wrapper .bx-controls-direction a.bx-prev {
        left: -30px;
    }
    input#envoyer{
        margin-left: 47px;
    }
    section#bloc-contact textarea#bloc-message{
        width: 90%;
    }
    .g-recaptcha_contact{
        padding-left: 0px;
    }
    #plus .savoir {
        display: none;
    }
    #plus a.mobs{
        color:black;
        float: right;
    }
    #bloc{
        padding-bottom: 30px;
    }
}

@media (max-width:359px){
    #ban .bot span.blue{
        left: 43px;
        top: 114px;
        width: 100px;
        font-size: 10px;
        padding: 0px;
    }
    #ban .bot span.rouge{
        left: 46px;
        top: 96px;
        width: 100px;
        font-size: 8px;
        padding: 0px;
    }
    #ban .intban{
        height: 165px;
    }
    div#livraison div#bloc{
        height: auto!important;
    }
    #footer .payfot{
        padding-top: 50px;
    }
    
    #footer .links .material-icons{
        color: white;
    }
    .footer-container .links .h3{
        display: none;
    }
    #index .contact-form section#bloc-contact i#prenom{
        top: 8px!important;
    }
    #index .contact-form section#bloc-contact i#number{
        top: 8px!important;
    }
    .apropos p{
        font-size: 11.5px;
    }
    #plus .savoir {
        display: none;
    }
    #plus a.mobs{
        color:black;
        float: right;
    }
    div#plus{
        height: auto!important;
    }
}

/* FIN REPONSIVE VERSION MOBILE*/

/* REPONSIVE VERSION TABLETTE*/
@media screen and (max-width:992px) and (min-width:768px){
    #header .material-icons {
        font-size: 30px;
    }
    #header #_desktop_cart span.cart-products-count{
        font-size: 19px;
    }
    #header #_desktop_user_info i{
        right: 123px;
    }
    #header .header-top #search_widget img{
        position: absolute;
        right: 85px;
        width: 30PX;
        top: 32px;
    }
    #plus a.mobs{
        display: none;
    }
    div#livraison div#bloc{
        height: 425px!important;
    }
    #ban .bot span.rouge{
        top: 245px;
        left: 120px;
    }
    #ban .bot span.blue{
        top: 245px;
        left: 120px;
    }
    #ban .intban{
        height: 358px;
    }
    #bloc{
        padding-left: 10px;
        padding-right: 10px;
    }
    #plus .savoir {
        padding-left: 10px;
        padding-right: 10px;
    }
    div#livraison div#bloc{
        padding: 25px 10px!important;
    }
    input#envoyer{
        margin-right: 43% !important;
    }
}



/*FIN REPONSIVE VERSION TABLETTE*/
@media (min-width:992px){
    #plus a.mobs{
        display: none;
    }
}

 @media (min-width:360px) and (max-width:576px){  
    #header #_desktop_user_info i {
        position: absolute;
        right: 40px;
        top: 27px;
    }
    #header #_desktop_cart span.cart-products-count {
        position: absolute;
        right: 127px;
        top: 30px;
        font-size: 23px;
    }
    #header #_desktop_cart .header i {
        position: absolute;
        right: 162px;
        top: 26px;
    }
    #header .material-icons.search{
        margin-right: -61px !important;
        margin-top: -4px !important;
    }
    #header .search-widget.md_disptop_content{
        margin-top: -2px;
    }
     /* #footer #link-custom-page-qui-sommes-nous-2 {
        color:black;
    } */
    #footer .custom-page-link{
        color:black;
    }
    #cms h1 {
        text-align: center;
        margin-top: 10px;
    }
    .page-content.page-cms.page-cms-1  h3 span{ 
        margin-left: 15px !important;
        font-size:20px;
    }
} 
