#header .blockcart.cart-preview .dropdown .dropdown-menu {
    padding: 10px 15px;
    top: 32px !important;
    width: 260px !important;
    min-width: 260px !important;
    right: -0.85rem;
    left: inherit !important;
    box-shadow: 0 7px 22px -5px rgba(47,56,68,0.2);
}
#header .blockcart.cart-preview .dropdown-toggle {
    background: none;
    border: none;
}
#header .blockcart.cart-preview .dropdown-product-item {
    display: table;
    position: relative;
    width: 100%;
    padding: 9px 0;
    border-top: 1px dashed #d8e0e6
}
#header .blockcart.cart-preview .dropdown-product-item:first-child {
    border-top: 0
}
#header .blockcart.cart-preview .dropdown-product-item>.dropdown-product-thumb, .dropdown-product-item>.dropdown-product-info {
    display: table-cell;
    vertical-align: top
}
#header .blockcart.cart-preview .dropdown-product-item>.dropdown-product-thumb {
    width: 55px;
    border-radius: 50%;
    overflow: hidden
}
#header .blockcart.cart-preview .dropdown-product-item>.dropdown-product-thumb>img {
    display: block;
    width: 100%
}
#header .blockcart.cart-preview .dropdown-product-item > .dropdown-product-remove {
    display: block;
    position: absolute;
    top: 9px;
    right: -10px;
    font-size: 13px;
    line-height: 1;
    cursor: pointer;
}
#header .blockcart.cart-preview .dropdown-product-item > .dropdown-product-remove i {
    color: #ff5252 !important;
}
#header .blockcart.cart-preview .dropdown-product-item>.dropdown-product-info {
    padding-right: 15px;
    padding-left: 12px
}
#header .blockcart.cart-preview .dropdown-product-item .dropdown-product-title {
    display: block;
    padding-top: 2px;
    transition: color .3s;
    color: #373a3c !important;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none
}
#header .blockcart.cart-preview .dropdown-product-item .dropdown-product-title:hover {
    color: #0da9ef
}
#header .blockcart.cart-preview .dropdown-product-item .dropdown-product-details {
    color: #9da9b9;
    font-size: 14px
}
#header .blockcart.cart-preview .blockcart {
    background: #f1f1f1;
    height: 3rem;
    padding: .75rem;
    margin-left: .9375rem;
    text-align: center;
    white-space: nowrap;
}
#header .blockcart.cart-preview .toolbar-dropdown-group {
    display: table;
    width: 100%;
    padding: 9px 0;
    border-top: 1px solid #e1e7ec;
    border-bottom: 1px solid #e1e7ec;
    font-size: 14px;
}
#header .blockcart.cart-preview .toolbar-dropdown-group div {
    padding-bottom: 2px
}
#header .blockcart.cart-preview .text-right {
    text-align: right;
}
#header .blockcart.cart-preview .btn-checkout, #header .blockcart.cart-preview .btn-view {
    display: block;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 36px;
    padding: 0 18px;
    padding-right: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 18px;
    font-size: 17px;
    line-height: 34px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all .4s;
    text-align: center;
}
#header .blockcart.cart-preview .btn-view {
    background-color: #f5f5f5;
    border-color: #e1e7ec;
    color: #606975 !important;
}
#header .blockcart.cart-preview .btn-view:hover {
    background-color: #cbcbcb !important
}
/* beta comment */
/*#_desktop_cart .dropdown-toggle{*/
    /*position: relative;*/
    /*left: 224px;*/
    /*top: -4px;*/
/*}*/
#header #_desktop_cart span.cart-products-count {
    /* beta comment */
    /*position: absolute;*/
    /*right: 20px;*/
    /*top: 9px;*/
    font-size: 23px;
}
/* beta comment */
/*.material-icons.shopping-cart{*/
    /*position: relative;*/
    /*left: -25px;*/
/*}*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    left: -60px;
    top: 32px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*.dropdown:focus .dropdown-content {*/
    /*display: block;*/
/*}*/
.btn-checkout.btn.btn-info{
    color: #ffffff!important;
    text-transform: uppercase;
}
.btn-checkout.btn.btn-info:hover{
    color: #ffffff!important;
    text-transform: uppercase;
    font-weight: bold;
}
#identification_li{
    margin-top: 5px;
    margin-bottom: 15px;
}
#identification_li  a{
    text-align: center;
}
/* beta comment */
/*#_desktop_cart{*/
    /*height: 0px;*/
/*}*/
/*#_desktop_cart .dropdown{*/
    /*height: 0px;*/
/*}*/
/*.material-icons.search{*/
    /*position: relative;*/
    /*left: 200px;*/
    /*top: -4px;*/
/*}*/
.material-icons.search.validate{
    position: relative;
    left: 30px;
    top: 2px;
}
#wrapper #_desktop_user_info{
    display: none;
}
#wrapper #cherche_header{
    display: none;
}
#wrapper #form_cherche{
    display: block!important;
}
#cherche_header{
    cursor: pointer;
}
#cherche_header #display_cherche_input:hover{
    color: #2fb5d2!important;
}
.panier_vide{
    color: black;
    text-align: center;
    padding: 20px;
}
.highlighted-informations.no-variants.hidden-sm-down .quick-view .material-icons.search{
    display: none;
}
/* beta comment */
/*#header #_desktop_user_info i {*/
    /*position: absolute;*/
    /*right: -337px;*/
    /*top: -2px;*/
/*}*/
#header .blockcart.cart-preview .dropdown-toggle:hover{
   color: #2fb5d2!important;
}
.btn.btn-primary.add-to-cart .material-icons.shopping-cart{
    left: 0px;
}
#_desktop_cart{
    display: inline-block;
    width: 30%;
    text-align: center;
    float: right;
}
#_desktop_user_info{
    display: inline-block;
    width: 11%;
    float: right;
}
#_desktop_contact{
    display: inline-block;
    width: 12%;
    text-align: center;
    float: right;
}
#search_widget{
    display: inline-block;
    max-width: 12%;
    min-width: 12%;
    text-align: center;
    float: right;
    position: relative;
}
#form_cherche{
    position: relative;
    left: -230px;
    min-width: 280px;
    width: 280px;
}
#_mobile_logo{
    display: none!important;
}
.block-promo{
    background: #EAEAEA;
}
.options_text{
    margin-top: 15px;
}
.product-description p{
    color: #232323;
}
.product-caracteristique p{
    color: #232323;
}
.input_perso{
    height: 46px;
    line-height: 46px;
    padding: 0;
    border: 2px solid #EDEDED;
    background-color: #fff;
    display: block;
    box-sizing: border-box;
    padding: 0 8px;
}
.input_perso:focus{
    height: 46px!important;
    line-height: 46px!important;
    padding: 0!important;
    border: 2px solid #EDEDED!important;
    background-color: #fff!important;
    display: block!important;
    box-sizing: border-box!important;
    padding: 0 8px!important;
}
.product-customization-item label{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
}
@media screen and (min-width:768px) and (max-width:1024px){
    #_desktop_cart{
        display: inline-block;
        width: 50%;
        text-align: center;
        float: right;
    }
    #_desktop_user_info{
        display: inline-block;
        width: 16%;
        float: right;
    }
    #_desktop_contact{
        display: inline-block;
        width: 17%;
        text-align: center;
        float: right;
    }
    #search_widget{
        display: inline-block;
        max-width: 17%;
        min-width: 17%;
        text-align: center;
        position: relative;
        float: right;
    }
    #form_cherche{
        left: -175px;
        width: 210px;
    }
    #header #_desktop_cart span.cart-products-count{
        font-size: 19px;
    }
}
@media (max-width:767px) {

    #_desktop_cart{
        display: inline-block;
        width: 40%;
        text-align: center;
        float: right;
    }
    #_desktop_user_info{
        display: inline-block;
        width: 20%;
        float: right;
    }
    #_desktop_contact{
        display: inline-block;
        width: 20%;
        text-align: center;
        float: right;
    }
    #search_widget{
        display: inline-block;
        max-width: 20%;
        min-width: 20%;
        text-align: center;
        position: relative;
        float: right;
    }
    #_mobile_logo{
        display: block!important;
    }
    .mobile_background{
        background: #ffffff;
    }
    #header .header-top{
        padding-top:0px;
    }
    #header .blockcart.cart-preview .dropdown .dropdown-menu{
        right: -8.85rem;
    }
}