/**
* NOTICE OF LICENSE
*
* This source file is subject to a commercial license from SARL Ether Création
* Use, copy, modification or distribution of this source file without written
* license agreement from the SARL Ether Création is strictly forbidden.
* In order to obtain a license, please contact us: contact@ethercreation.com
* ...........................................................................
* INFORMATION SUR LA LICENCE D'UTILISATION
*
* L'utilisation de ce fichier source est soumise a une licence commerciale
* concedee par la societe Ether Création
* Toute utilisation, reproduction, modification ou distribution du present
* fichier source sans contrat de licence ecrit de la part de la SARL Ether Création est
* expressement interdite.
* Pour obtenir une licence, veuillez contacter la SARL Ether Création a l'adresse: contact@ethercreation.com
* ...........................................................................
*  @package eccrossselling
*  @copyright Copyright (c) 2010-2015 S.A.R.L Ether Création (http://www.ethercreation.com)
*  @author Arthur R.
*  @license Commercial license
*/
#div_footer {
    border: 1px solid #D6D4D4;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
}
#img_footer {
   width: 166px;
   height: 166px;
}


#blockcart_list, #blockcart_list_footer {
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 375px;
}
#blockcart_list_footer {
    max-width: 773px;
    width: 84%;
    margin: 0px auto;
    overflow: hidden;
}

#ec_slide {
    
    text-align:center;
    margin: 0 7px 10px !important;
    display: inline-block;
}

#blockcart_list_footer, #blockcart_list {
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 375px;
}