/**
* MODULE PRESTASHOP - PRICEFROM
*
* LICENSE :
* All rights reserved
* COPY AND REDISTRIBUTION FORBIDDEN WITHOUT PRIOR CONSENT FROM LSDev
* LICENCE :
* Tous droits réservés, le droit d'auteur s'applique
* COPIE ET REDISTRIBUTION INTERDITES SANS ACCORD EXPRES DE LSDev
*
* @author    LSDev
* @copyright 2020 LSDev
* @license   Proprietary - no redistribution without authorization
*/
.pricefrom-miniature {display:block; position:absolute; left:10%; top:0; color:#e77740; text-transform:uppercase; width:80%; font-size:.7rem; font-weight:400;}
.pricefrom-miniature.only {position:static; width:auto; font-size:1rem;}
.pricefrom-miniature .pricefrom-price {font-weight:bold;}

.pricefrom {color:#e77740;}
.pricefrom .pricefrom-price {font-weight:bold;}
