/**
* MODULE PRESTASHOP - PRICEFROM
*
* LICENSE :
* All rights reserved
* COPY AND REDISTRIBUTION FORBIDDEN WITHOUT PRIOR CONSENT FROM LSDev
* LICENCE :
* Tous droits réservés, le droit d'auteur s'applique
* COPIE ET REDISTRIBUTION INTERDITES SANS ACCORD EXPRES DE LSDev
*
* @author    LSDev
* @copyright 2020 LSDev
* @license   Proprietary - no redistribution without authorization
*/
/* Global display */
.pricefrom-price {font-weight:bold; color:#e77740;}

/* List */
.ajax_block_product .content_price {position:relative;}
.ajax_block_product .pricefrom-miniature {display:block; position:absolute; left:10%; top:-20px; color:#e77740; text-transform:uppercase; width:80%; font-size:12px; font-weight:400;}
.ajax_block_product .pricefrom-miniature .pricefrom-price {font-weight:bold; color:#e77740 !important;}
.ajax_block_product.hovered .pricefrom-miniature {height:21px; top:-21px; background-color:rgba(255, 255, 255, 0.8); width:100%; left:0;}
.ajax_block_product .pricefrom-miniature.only {position:static; width:auto; font-size:16px; line-height:24px;}
.ajax_block_product.hovered .pricefrom-miniature.only {background-color:transparent; color:#FFF;}

/* Product page */
.pricefrom {color:#e77740 !important;}
